In [1]:
import pandas as pd

In [2]:
diab_data = pd.read_csv("c:data/diabetic_data.csv")

In [3]:
diab_data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [4]:
dispo_desc = pd.read_csv("c:data/IDs_mapping.csv")

In [5]:
dispo_desc.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [6]:
# capture index of where discharge disposition codes start
disch_type_start = dispo_desc[dispo_desc["admission_type_id"] == "discharge_disposition_id"].index.values.astype(int)[0]

In [7]:
# capture index of where admission disposition codes start
admit_src_start = dispo_desc[dispo_desc["admission_type_id"] == "admission_source_id"].index.values.astype(int)[0]

In [8]:
print(disch_type_start)
print(admit_src_start)

9
41

In [9]:
admit_type = dispo_desc.iloc[0:disch_type_start-1] # subtract 1 because there is a blank line before each disposition group

In [10]:
admit_type.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [16]:
disch_disp = dispo_desc.iloc[disch_type_start+1:admit_src_start-1]

In [19]:
disch_disp.head()

   admission_type_id                                        description
10                 1                                 Discharged to home
11                 2  Discharged/transferred to another short term h...
12                 3                      Discharged/transferred to SNF
13                 4                      Discharged/transferred to ICF
14                 5  Discharged/transferred to another type of inpa...

In [20]:
admit_src = dispo_desc.iloc[admit_src_start+1:]

In [21]:
admit_src.head()

   admission_type_id                                      description
42                 1                               Physician Referral
43                 2                                  Clinic Referral
44                 3                                     HMO Referral
45                 4                         Transfer from a hospital
46                 5   Transfer from a Skilled Nursing Facility (SNF)

In [26]:
admit_type_dict = admit_type.set_index("admission_type_id").to_dict()["description"]
disch_disp_dict = disch_disp.set_index("admission_type_id").to_dict()["description"]
admit_src_dict = admit_src.set_index("admission_type_id").to_dict()["description"]

admit_src_dict = {int(k):v for k,v in admit_src_dict.items()}
admit_type_dict = {int(k):v for k,v in admit_type_dict.items()}
disch_disp_dict = {int(k):v for k,v in disch_disp_dict.items()}

In [44]:
diab_data['admission_source'] = diab_data.admission_source_id.map(admit_src_dict)
diab_data['discharge_disposition'] = diab_data.discharge_disposition_id.map(disch_disp_dict)
diab_data['admission_type'] = diab_data.admission_type_id.map(admit_src_dict)

In [45]:
diab_data.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_source,discharge_disposition,admission_type
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,NO,Physician Referral,Not Mapped,Transfer from another health care facility
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,No,No,No,Ch,Yes,>30,Emergency Room,Discharged to home,Physician Referral
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,Yes,NO,Emergency Room,Discharged to home,Physician Referral
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,No,No,No,Ch,Yes,NO,Emergency Room,Discharged to home,Physician Referral
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,No,No,No,Ch,Yes,NO,Emergency Room,Discharged to home,Physician Referral

In [ ]:
del diab_data['admission_source_id']
del diab_data['admission_type_id']
del diab_data['discharge_disposition_id']

In [59]:
pd.set_option("max_columns", 50)
diab_data.head()

,encounter_id,patient_nbr,race,gender,age,weight,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_source,discharge_disposition,admission_type
0,2278392,8222157,Caucasian,Female,[0-10),?,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO,Physician Referral,Not Mapped,Transfer from another health care facility
1,149190,55629189,Caucasian,Female,[10-20),?,3,?,?,59,0,18,0,0,0,276,250.01,255,9,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30,Emergency Room,Discharged to home,Physician Referral
2,64410,86047875,AfricanAmerican,Female,[20-30),?,2,?,?,11,5,13,2,0,1,648,250,V27,6,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO,Emergency Room,Discharged to home,Physician Referral
3,500364,82442376,Caucasian,Male,[30-40),?,2,?,?,44,1,16,0,0,0,8,250.43,403,7,None,None,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO,Emergency Room,Discharged to home,Physician Referral
4,16680,42519267,Caucasian,Male,[40-50),?,1,?,?,51,0,8,0,0,0,197,157,250,5,None,None,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO,Emergency Room,Discharged to home,Physician Referral

In [80]:
ques_list = []
for col in list(diab_data.columns):
    if '?' in set(diab_data[col]):
        print(col)
        ques_list.append(col)

race
weight
payer_code
medical_specialty
diag_1
diag_2
diag_3

In [81]:
ques_list

['race',
 'weight',
 'payer_code',
 'medical_specialty',
 'diag_1',
 'diag_2',
 'diag_3']

In [84]:
for col in ques_list:
    diab_data[col] = diab_data[col].replace('?', '')

In [85]:
for col in list(diab_data.columns):
    if '?' in set(diab_data[col]):
        print(col)

In [86]:
# write data to csv file
diab_final = diab_data.to_csv("c:data/no_code_data.csv")